body{
    border: 10px solid red;
    background-color: pink;
    
}

h1{
    border: 5px solid black;
    color: white;
    margin: 10px;
}

#id1{
    border: 2px solid black;
    color: white;
    margin: 10px;
}

.movie_info{
    border: 10px solid rgb(92, 13, 13);
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h6.movie_info{
    color: black;
}
/* Gruping Selector */
h1,h6{
    color: yellow!important;
}