html{
background-color:yellow
}
#id1{
    width=100px;
    height=200px;
    color:blue;
    overflow:auto; 
    border: 100px red solid;
    width: 500;
    background-color: pink;
    border: blue;
    border: 100px;
    width: 200px;
    height: 500;
    width: 900;
    width: 400;
    height: 284px;
}

    #id2{
        background-color: blue;
    height: 500;
    width: 400;
}
    }
    
}